<div class="block">
  <h3>新建</h3>
  <ul class="navigation">
    <%if check_power("create_management_fee_config")%>
      <li><%=link_to "新建预算比例",new_management_fee_config_path(:active_sub_tab => 1)%></li>
    <%end%>
  </ul>
</div>

