<!--标题条-->
<ul class="wat-cf">
  <li class="<%=check_sub_active_tab(5) %>">
    <%= link_to "票据分类", common_invoices_path(:active_sub_tab => 5) %>
  </li>
  <%= render :partial => "shared/more_operate" %>
</ul>
