/*
 * jverticalmenu.css
 * author: kazuhiro.yamada
 */

#jverticalmenu-wrapper {
  float : left;
  width           : 40px;
  height          : 1px;
}
#jverticalmenu {
  /*width           : 140px; */
  position        : absolute;
  left            : -5px;
  width           : 51px;
  color           : white;
}

#jverticalmenu ul {
  margin         : 0;
  padding        : 0;
  list-style-type: none;
  font           : bold 12px Verdana;
  background     : #2F427A;
}

#jverticalmenu ul li {
  position: relative;
}

#jverticalmenu ul li a {
  display           : block;
  /*overflow       : auto;*/ /*force hasLayout in IE7 */
  overflow           : hidden;
  color              : white;
  text-decoration    : none;
  padding            : 0 0 0 50px;
  border-bottom      : 1px solid #778;
  border-right       : 1px solid #778;
  vertical-align     : middle;
  line-height        : 40px;
  background-position: 5px 0px;
  background-size    : contain;
}

#jverticalmenu ul li a span {
  display : block;
  width : 140px;
}
#jverticalmenu ul li ul{
  position: absolute;
  width: 140px; /*Sub Menu Items width */
  top: 0;
  font-weight: normal;
  visibility: hidden;
}

#jverticalmenu ul li a:link, #jverticalmenu ul li a:visited, #jverticalmenu ul li a:active{
  color: white;
}


#jverticalmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
  background-color: gray;
  color: white;
}

#jverticalmenu ul li a:hover{
  background-color: gray; /*background of menu items during onmouseover (hover state)*/
  color: white;
}

.rightarrowclass {
  position: absolute;
  top     : 14px;
  right   : 5px;
}

/* light icon */
.jverticalmenu-home-l {
  background: url(../images/jverticalmenu/light_icons/Miscellaneous/Home.png) no-repeat center left;
}

.jverticalmenu-device-l {
  background: url(../images/jverticalmenu/light_icons/Devices/HTC-Touch.png) no-repeat center left;
}

.jverticalmenu-explorer-l {
  background: url(../images/jverticalmenu/light_icons/OSFolders/Explorer.png) no-repeat center left;
}

.jverticalmenu-search-l {
  background: url(../images/jverticalmenu/light_icons/Miscellaneous/Search.png) no-repeat center left;
}

.jverticalmenu-search-l {
  background: url(../images/jverticalmenu/light_icons/Miscellaneous/Search.png) no-repeat center left;
}

.jverticalmenu-void-alt-l {
  background: url(../images/jverticalmenu/light_icons/CommunicationInternet/VoIP-Alt.png) no-repeat center left;
}

.jverticalmenu-lightbulb-l {
  background: url(../images/jverticalmenu/light_icons/Miscellaneous/Lightbulb.png) no-repeat center left;
}

.jverticalmenu-gear-l {
  background: url(../images/jverticalmenu/light_icons/SystemSettings/Gear.png) no-repeat center left;
}
.jverticalmenu-tuneup-l {
  background: url(../images/jverticalmenu/light_icons/Miscellaneous/TuneUp-Utilities.png) no-repeat center left;
}
/*公共信息*/
.notice-cat-l {
  background: url(../images/jverticalmenu/light_icons/CommunicationInternet/RSS.png) no-repeat center left;
}

/*在线交流*/
.chat-cat-l {
  background: url(../images/jverticalmenu/light_icons/CommunicationInternet/AIM.png) no-repeat center left;
}

/*分成结算*/
.settlement-cat-l {
  background: url(../images/jverticalmenu/light_icons/Miscellaneous/Calculator.png) no-repeat center left;
}

/*耐用品*/
.durable-cat-l {
  background: url(../images/jverticalmenu/light_icons/Miscellaneous/Zip.png) no-repeat center left;
}
/*易耗品*/
.consume-cat-l {
  background: url(../images/jverticalmenu/light_icons/Miscellaneous/Lightbulb.png) no-repeat center left;
}
/*票据科*/
.carrying-bill-cat-l {
  background: url(../images/jverticalmenu/light_icons/Office/Notepad.png) no-repeat center left;
}
/*后勤部*/
.inout-bill-cat-l {
  background: url(../images/jverticalmenu/light_icons/Miscellaneous/Lightbulb.png) no-repeat center left;
}
/*违规处罚*/
.punishment-cat-l {
  background: url(../images/jverticalmenu/light_icons/Miscellaneous/Lightning.png) no-repeat center left;
}
/*工资核算*/
.salary-table-cat-l {
  background: url(../images/jverticalmenu/light_icons/Office/Graphing-Spreadsheets.png) no-repeat center left;
}
/*预算工具*/
.budget-table-cat-l {
  background: url(../images/jverticalmenu/light_icons/Office/Writing.png) no-repeat center left;
}
/*票据管理*/
.invoice-cat-l {
  background: url(../images/jverticalmenu/light_icons/Office/Slideshow.png) no-repeat center left;
}

/*系统管理*/
.admin-cat-l {
  background: url(../images/jverticalmenu/light_icons/Devices/Mouse.png) no-repeat center left;
}

/*子菜单*/
.function-sub {
  background: url(../images/jverticalmenu/light_icons/SystemSettings/Gear.png) no-repeat center left;
}
/* dark icon */
.jverticalmenu-home-d {
  background: url(../images/jverticalmenu/dark_icons/Miscellaneous/Home.png) no-repeat center left;
}

/* Holly Hack for IE \*/
* html #jverticalmenu ul li { float: left; height: 1%; }
* html #jverticalmenu ul li a { height: 1%; }
/* End */
