<div id="jverticalmenu-wrapper" class='block wat-cf'>
  <div id="jverticalmenu">
    <ul>
      <%@grouped_system_function_cats.each do |group,func_cats|%>
        <li>
          <a href="#" class="<%= group.icon%>"><span><%= group.group_name %></span></a>
          <ul>
            <% func_cats.each do |cat|%>
              <li><a class='function-sub' href="<%= eval cat.default_action %>"><span><%= cat.cat_name%></span></a></li>
            <%end%>
          </ul>
        </li>
      <%end%>
    </ul>
  </div>
</div>
