<div class="block">
  <h3>新建</h3>
  <ul class="navigation">
    <%if check_power("create_org_management_fee_config")%>
      <li><%=link_to "新建分理处设置",new_org_management_fee_config_path(:active_sub_tab => 2)%></li>
    <%end%>
  </ul>
</div>

