<div class="block">
  <div class="secondary-navigation">
    <%= render :partial => 'caption' %>
  </div>
  <div class="content">
    <h2 class="title">修改</h2>
    <div class="inner">
      <% form_for @org_management_fee_config, :html => { :class => :uniForm } do |f| -%>
        <%= render "form", :f => f %>
      <% end -%>
    </div>
  </div>
</div>

<% content_for :sidebar, render('sidebar') %>
