<% form_for InvoiceCheck.new,:url => {:controller =>:invoice_checks,:action => :new},:html => { :class => :uniForm } do |f|%>
  <fieldset class='blockLabels'>
    <div class="ctrlHolder">
      <%= f.label :org_id, "选择分理处/分公司:" %>
      <%= f.select :org_id,orgs_for_select %>
    </div>
  </fieldset>
  <div class="actions-bar">
    <%=f.submit '生成盘查信息', :class => 'sexybutton sexysimple sexyblue'%>
  </div>
<%end%>
