<div class="block">
  <h3>新建</h3>
  <%if check_power("new_position_info")%>
    <ul class="navigation">
      <li>
        <%= link_to "新建职位信息", new_org_info_position_info_path(@position_info.org_info,:active_sub_tab => 5)  %>
      </li>
    </ul>
  <%end%>
</div>

