<ul class="wat-cf">
  <li class="first  <%=check_sub_active_tab(1)%>">
    <%= link_to "预算表", budget_tables_path(:active_sub_tab => 1)  %>
  </li>
  <%= render :partial => "shared/more_operate" %>
</ul>


