<div id='word_content'>
  <h1 style='text-align : center;color : gray;padding : 4px;margin : 0;'><%= Client.first.name %></h1>
  <h2 style='text-align : center;color : gray;padding : 4px;margin : 0;'><%= @rule.doc_no %></h2>
  <hr style='color : gray;'/>
  <h2 style='text-align : center;'><%= @rule.title %></h2>
  <p>
    <%= @rule.body %>
  </p>
</div>
